@import "../../../assets/styles/style";

.main {
  background-color: $standartBG;
  .container {
    @include mainContainer;
    flex: 1 1 auto;
    background-color: $standartBG;
    padding-top: 2.5rem;
    .backToCatalog {
      display: flex;
      text-decoration: none;
    }
  }
}
