@import "../../../assets/styles/style";
.main {
  display: flex;
  align-items: center;
  @include paginatorMain;
  .pages {
    display: flex;
  }
  .elementPerPage {
    display: flex;
    @include mediumFont;
    align-items: center;
  }
  span {
    margin: 0 auto;
    padding: 0.29rem;
  }
  .active {
    color: $yellow;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    background-color: $white;
    padding: 0.29rem;
  }
}
