@import "../../../assets/styles/style";
.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mainContainer;
  @include shadowBox;
  @include searchField;
  padding: 1rem;
  input {
    width: 90%;
    &:focus {
      outline: none;
    }
  }
}
