@import "../../../assets/styles/style";

.main {
  display: flex;
  justify-content: space-between;
  .container {
    display: flex;
    justify-content: space-between;
    @include mediumFont;
    @include mainContainer;
    @include footerMain;
    line-height: 1.5rem;
    width: 100%;
  }
}
