@import "../../../assets/styles/style";

.main {
  display: flex;
  @include shadow;
  @include standarFont;
  max-width: 23.75rem;
  margin-bottom: 1.5rem;
  text-decoration: none;
  .photoWrapper {
    width: 7.75rem;
    height: 7.75rem;
    object-fit: cover;
    margin-right: 6.33%;
    overflow-y: hidden;
    border-radius: 0.25rem 0 0 0.25rem;
    .photo {
      max-width: 7.75rem;
      height: auto;
    }
  }
}
