@import "../../../assets/styles/style";

.button {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  img {
    margin-right: 0.75rem;
  }
  span {
    @include mediumFont;
    color: $black;
    margin-left: 0.75rem;
  }
}
