@import "../../../assets/styles/style";
@import "../../../assets/styles/mixin";

.main {
  display: flex;
  @include shadow;
  @include standarFont;
  max-width: 23.75rem;
  margin-bottom: 1.5rem;

  .photoWrapper {
    width: 124px;
    height: 124px;
    object-fit: cover;
    margin-right: 1.5rem;
    overflow-y: hidden;
    border-radius: 0.25rem 0 0 0.25rem;
    .photo {
      max-width: 124px;
      height: auto;
    }
  }
  .inform {
    .state {
      display: inline-block;
      padding: 0.5rem 0.75rem;
      margin: 1rem 0 0.75rem;
    }
    .alive {
      @include stateOnColor;
    }
    .deceased {
      @include stateOffColor;
    }
    .presumedDead {
      @include statePDColor;
    }
    .name {
      @include bigFont;
      margin-bottom: 0.5rem;
    }
    .birthday {
      color: $lightFontcolor;
    }
  }
}
