.error {
  width: 60%;
  height: 10rem;
  margin: 10vh auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: rgba(250, 0, 0, 0.3);
  border-radius: 0.5rem;
}
