@import "../../../assets/styles/style";

.main {
  display: flex;
  margin: 3rem 0;
  .photoWrapper {
    width: 36.5rem;
    height: 36.5rem;
    object-fit: cover;
    margin-right: 7vw;
    overflow-y: hidden;
    .photo {
      width: 100%;
      height: auto;
    }
  }
  .inform {
    color: $lightFontcolor;
    max-width: 35.96%;
    .state {
      display: inline-block;
      padding: 0.5rem 0.75rem;
      margin: 0rem 0 2rem;
    }
    .alive {
      @include stateOnColor;
    }
    .deceased {
      @include stateOffColor;
    }
    .presumedDead {
      @include statePDColor;
    }
    .name {
      @include personPageBigFont;
      margin-bottom: 1rem;
      color: $black;
    }
    .birthday,
    .nickname,
    .quote {
      color: $black;
    }
    .quoteMargin {
      margin-top: 2rem;
    }
    p {
      margin-bottom: 1rem;
    }
  }
}
