@import "../../../assets/styles/style";

.wrapper {
  display: grid;
  background-color: $standartBG;
  grid-template-columns: 31.66% 31.66% 31.66%;
  justify-content: space-between;
}

@media (max-width: 69rem) {
  .wrapper {
    grid-template-columns: 49% 49%;
  }
}

@media (max-width: 48rem) {
  .wrapper {
    grid-template-columns: 98%;
  }
}
