@import "../../../assets/styles/style";

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  justify-content: space-between;
  @include mainContainer;
}
@media (max-width: 992px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
