@import "./variables";

@mixin shadow {
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.5rem 0 $shadowColor;
}
@mixin standarFont {
  font-family: $myFontFamily;
  font-size: 0.75rem;
  font-weight: 400;
}
@mixin mediumFont {
  font-family: $myFontFamily;
  font-size: 1rem;
  font-weight: 400;
}
@mixin personPageBigFont {
  font-family: $myFontFamily;
  font-size: 2rem;
}
@mixin stateOnColor {
  color: $stateOn;
  background-color: $stateBackOn;
}
@mixin stateOffColor {
  color: $stateOff;
  background-color: $stateBackOff;
}
@mixin statePDColor {
  color: $white;
  background-color: $stateBackPD;
}
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}
@mixin mainContainer {
  max-width: 75rem;
  margin-left: 0 auto;
  padding: 0 2.5rem;
  
  @include mobile;
  padding: 0 1rem;
}
