@import "./variables";

@mixin shadow {
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.5rem 0 $shadowColor;
}

@mixin standarFont {
  font-family: $myFontFamily;
  font-size: 0.75rem;
  font-weight: 400;
}
@mixin characterListBigFont {
  font-family: $myFontFamily;
  font-size: 1rem;
}
@mixin personPageBigFont {
  font-family: $myFontFamily;
  font-size: 2rem;
}
@mixin stateOnColor {
  color: $stateOn;
  background-color: $stateBackOn;
}
@mixin stateOffColor {
  color: $stateOff;
  background-color: $stateBackOff;
}
@mixin statePDColor {
  color: $statePD;
  background-color: $stateBackPD;
}