@import "./variables";

@mixin shadow {
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.5rem 0 $shadowColor;
}
@mixin standarFont {
  font-family: $mainFontFamily;
  font-size: 0.75rem;
  font-weight: 400;
}
@mixin mediumFont {
  font-family: $mainFontFamily;
  font-size: 1rem;
  font-weight: 400;
}
@mixin personPageBigFont {
  font-family: $mainFontFamily;
  font-size: 2rem;
}
@mixin stateOnColor {
  color: $stateOn;
  background-color: $stateBackOn;
}
@mixin stateOffColor {
  color: $stateOff;
  background-color: $stateBackOff;
}
@mixin statePDColor {
  color: $white;
  background-color: $stateBackPD;
}
@mixin small-mobile {
  @media (max-width: $small-mobile) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}
@mixin small-screen {
  @media (max-width: $mobile) {
    @content;
  }
}
@mixin small-laptop {
  @media (max-width: $mobile) {
    @content;
  }
}
@mixin mainContainer {
  max-width: 75rem;
  padding: 0 1rem;
  margin: 0 auto;
  @include small-laptop {
    max-width: 64rem;
  }
  @include small-screen {
    max-width: 48rem;
  }
}
@mixin personSheetMain {
  margin-top: 3rem;
  @include tablet {
    margin-top: 2.5rem;
  }
  @include mobile {
    margin-top: 2rem;
  }
  @include small-mobile {
    margin-top: 1rem;
  }
}
@mixin personSheetPhotoWrapper {
  margin-right: 6.4375rem;
  @include tablet {
    margin-right: 4.2916rem;
  }
  @include mobile {
    margin-right: 2.1458rem;
  }
  @include small-mobile {
    margin-right: 1.0729rem;
  }
}
@mixin headerMain {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@mixin footerMain {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@mixin cardListWrapperGrid {
  grid-template-columns: 1fr 1fr 1fr;
  @include small-screen {
    grid-template-columns: 1fr 1fr;
  }
  @include tablet {
    grid-template-columns: 1fr 1fr;
  }
  @include mobile {
    grid-template-columns: 1fr;
  }
  @include small-mobile {
    grid-template-columns: 1fr;
  }
}
$desktop: 1920px;
$laptop: 1440px;
$small-laptop: 1230px;
$small-screen: 1024px;
$tablet: 768px;
$mobile: 482px;
$small-mobile: 320px;
