$myFontFamily: "Roboto";
$black: #000;
$lightFontcolor: #a9a9a9;
$stateOn: #30ff1e;
$stateBackOn: #30ff1e14;
$stateOff: #ff1e1e;
$stateBackOff: #ff1e1e14;
$shadowColor: #0000000a;
$white: #fff;
$stateBackPD: #00000099;
$yellow: #f1b926;
$standartBG: #fbfbfb;
